/* CSS FOR MAIN FILE */
* {
    margin: 0;
    padding: 0;
}

.main {
    width: 100%;
    height: 90vh;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.5)50%, rgba(0, 0, 0, 0.5)50%), url(http://farm9.staticflickr.com/8544/8693738209_1ba2034976_k.jpg);
    background-position: center;
    background-size: cover;
}

.navbar {
    width: 1200px;
    height: 24.946vh;
    margin: auto;
}

.icon {
    width: 200px;
    height: 100px;
    float: left;
    margin: 10px 10px;
}

.menu {
    float: left;
    width: 680px;
    height: 100px;
    margin: 15px 0;
    margin-left: 0;
    display: flex;
    align-items: center;
}

.menu ul {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu ul li {
    width: 136px;
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Lora', serif;
}

.menu ul li a {
    text-decoration: none;
    color: white;
    transition: 0.4s ease-in;
    font-size: 15px;
    font-weight: bold;
}

.menu ul li a:hover {
    color: orange;
}

.search {
    float: left;
    height: 100px;
    display: flex;
    align-items: center;
    padding: 15px;
}

.srch {
    font-family: 'Times New Roman', Times, serif;
    font-size: 16px;
    width: 150px;
    height: 30px;
    background: transparent;
    border: 1px orange solid;
    color: white;
    float: left;
    padding: 10px;
    border-right: none;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
}

.searchcontent {
    cursor: pointer;
}

.srch:focus {
    outline: none;
}

button {
    background-color: orange;
    width: 100px;
    height: 30px;
    border: 1px orange solid;
    font-size: default;
    border-right: none;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

button:focus {
    outline: none;
}

.footer {
    text-align: center;
    background: black;
    color: white;
    height: 6.6vh;
    padding: 10px;
}

.wrapper p a {
    text-decoration: none;
    color: rgb(49, 109, 214);
    transition: 0.2s ease-in;
}

.wrapper p a:hover {
    color: purple;
}

.wrapper li {
    list-style: none;
}

.wrapper li a {
    color: rgb(49, 109, 214);
    text-decoration: none;
    padding: 0 20px;
    transition: 0.2s ease-in;
}

.wrapper li a:hover {
    color: purple;
}

.dropdown_menu {
    border: none;
    color: white;
    width: 136px;
    transition: all 0.3s;
    position: absolute;
    text-align: center;
}

.dropdown_menu a {
    display: block;
    text-decoration: none;
    color: #666;
    transition: 0.2s ease-in;
    margin: 5px 0px;
}

.dropdown_menu a:nth-of-type(0) {
    padding-top: 50px;
}

.dropdown_menu a:hover {
    color: orange;
}

.dropdown_button {
    font-family: 'Lora', serif;
    font-size: 15px;
    font-weight: bolder;
    background-color: transparent;
    color: white;
    border: none;
    width: 136px;
    cursor: pointer;
    transition: 0.4s ease-in;
}

.dropdown_button:hover {
    color: orange;
}

.hide {
    max-height: 0;
    opacity: 0%;
}

.description {
    height: 19vh;
}

/* CSS FOR FILE 1 */
.content {
    color: white;
    width: 1000px;
    height: 64.8596vh;
    margin: auto;
    display: flex;
    align-items: center;
}

.maincontent1 {
    width: 1000px;
    text-align: center;
}

.maincontent1 div {
    line-height: 100px;
    font-weight: bold;
    color: white;
    font-size: 30px;
    font-family: 'Merriweather', serif;
}

.maincontent1 .hi {
    font-size: 100px;
}